@font-face {
	font-family: 'Roboto';
	font-style: normal;
	src: url('../assets/Roboto.woff');
	font-weight: 400;
}

body {
	font-family: 'Roboto', Georgia, Times, serif;
}

.container > .jumbotron {
	background-color: #E4F1FE;
}

.no-underline-hover:hover {
	text-decoration: none;
}

.link-color {
	color: #FFFFFF;
}

.link-color:hover {
	color: #CCCCCC;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}